Repository choderalab/missense-kinase-toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: schema, databases

.codecov.yml:

# Codecov configuration to make it a bit less noisy
coverage:
  status:
    patch: false
    project:
      default:
        threshold: 50%

flags:
  schema:
    paths:
      - missense_kinase_toolkit/schema/mkt/schema
    # carryforward: true
  databases:
    paths:
      - missense_kinase_toolkit/databases/mkt/databases
    # carryforward: true

comment:
  layout: "header, flags"
  require_changes: false
  branches: null
  behavior: default
  paths: null
  show_carryforward_flags: true

ignore:
      # NCBI currently down
      - missense_kinase_toolkit/schema/mkt/database/ncbi.py

check-builtin-literals
  missense_kinase_toolkit/databases/mkt/databases/cbioportal.py
  missense_kinase_toolkit/databases/mkt/databases/io_utils.py
Due: databases

updated database notebook for latest changes
  notebooks/databases.ipynb
Due: none

added return_kinase_dict
  missense_kinase_toolkit/databases/mkt/databases/io_utils.py
Due: databases

removed tqdm from each abc parsed field - was too noisy in output and unnecessary
  missense_kinase_toolkit/databases/mkt/databases/io_utils.py
Due: databases

turn Mutations into dataclass; added filter_single_aa_missense_mutations and return_adjusted_colname to Mutations; created KinaseMissenseMutations class to curate missense kinase mutations
  missense_kinase_toolkit/databases/mkt/databases/cbioportal.py
Due: databases

reduce size of cbar in generate_heatmap_fig
  missense_kinase_toolkit/databases/mkt/databases/cbioportal.py
Due: databases

change heatmap to clustermap, formatting improvements, move dict_hgnc2uniprot[hgnc_name] = uniprot_id
  missense_kinase_toolkit/databases/mkt/databases/cbioportal.py
Due: databases

fixed duplicate tqdm colon
  missense_kinase_toolkit/databases/mkt/databases/io_utils.py
Due: databases

increase cbar y-axis
  missense_kinase_toolkit/databases/mkt/databases/cbioportal.py
Due: databases

convert_log_and_truncate function to handle 0 and truncation; custom colormap where 0 is grey; moved title and legend down
  missense_kinase_toolkit/databases/mkt/databases/cbioportal.py
Due: databases

cli for extract_cbioportal_missense_kinases
  missense_kinase_toolkit/databases/mkt/databases/cli/extract_cbioportal_missense_kinases.py
Due: databases

add extract_cbioportal_missense_kinases CLI
  missense_kinase_toolkit/databases/pyproject.toml
Due: none

added environment set-up instructions in README
  missense_kinase_toolkit/ml/README.md
Due: none

removed pip installed packages from env yml - pip install toml for dependencies instead
  missense_kinase_toolkit/ml/environment.yml
Due: none

added verbose argument to parse_iterabc2dataframe
  missense_kinase_toolkit/databases/mkt/databases/io_utils.py
Due: databases

updated databases notebook for latest changes
  notebooks/databases.ipynb
Due: none

fixed breaking cbioportal changes in test
  missense_kinase_toolkit/databases/mkt/databases/tests/test_databases.py
Due: databases

removed cbioportal.Mutations._mutations check
  missense_kinase_toolkit/databases/mkt/databases/tests/test_databases.py
Due: databases

Added KinCore to module table; added instructions for CLI scripts
  missense_kinase_toolkit/databases/README.md
Due: none

created module to annotate functional impact of missense mutations
  missense_kinase_toolkit/databases/mkt/databases/properties.py
Due: databases

added add_one_hot_encoding_to_dataframe
  missense_kinase_toolkit/databases/mkt/databases/utils.py
Due: databases

add BLOSUM and property annotations to KinaseMissenseMutations._df; os.makedirs(os.path.dirname(filename), exist_ok=True) for heatmap
  missense_kinase_toolkit/databases/mkt/databases/cbioportal.py
Due: databases

clarified help message for cache argparse
  missense_kinase_toolkit/databases/mkt/databases/cli/extract_cbioportal_missense_kinases.py
Due: databases

created generate_pivot_table with separate processes for BLOSUM, KLIFS, and one-hot encoded vars; changed default clustermap metric from euclidean to correlation
  missense_kinase_toolkit/databases/mkt/databases/cbioportal.py
Due: databases

clarified charge loss/gain all to neutral and pos/neg, respectively
  missense_kinase_toolkit/databases/mkt/databases/properties.py
Due: databases

allow for multiple columns to be added in add_one_hot_encoding_to_dataframe
  missense_kinase_toolkit/databases/mkt/databases/utils.py
Due: databases

tried defensive copy on self._df object to prevent performance warning and now writing filtered df to self._df_filter; added Clinical as sub-class of StudyData
  missense_kinase_toolkit/databases/mkt/databases/cbioportal.py
Due: databases

cbioportal (#132)
  missense_kinase_toolkit/databases/README.md
  missense_kinase_toolkit/databases/mkt/databases/cbioportal.py
  missense_kinase_toolkit/databases/mkt/databases/cli/extract_cbioportal_missense_kinases.py
  missense_kinase_toolkit/databases/mkt/databases/io_utils.py
  missense_kinase_toolkit/databases/mkt/databases/properties.py
  missense_kinase_toolkit/databases/mkt/databases/tests/test_databases.py
  missense_kinase_toolkit/databases/mkt/databases/utils.py
  missense_kinase_toolkit/databases/pyproject.toml
  notebooks/databases.ipynb
Due: databases

added dictionaries for kinase groups and biochemical properties
  missense_kinase_toolkit/databases/mkt/databases/colors.py
Due: databases

added adjudicate_group function to KinaseInfo object
  missense_kinase_toolkit/schema/mkt/schema/kinase_schema.py
Due: schema

noted H pKa in comments; added +/- to polarity changes
  missense_kinase_toolkit/databases/mkt/databases/properties.py
Due: databases

added statsmodels and sklearn to dependencies
  missense_kinase_toolkit/databases/pyproject.toml
Due: none

started an ml module within databases for cbioportal analyses
  missense_kinase_toolkit/databases/mkt/databases/ml.py
Due: databases

changed token env var name in comment to match private repo
  missense_kinase_toolkit/databases/mkt/databases/cli/extract_cbioportal_missense_kinases.py
Due: databases

Update test_databases.py
  missense_kinase_toolkit/databases/mkt/databases/tests/test_databases.py
Due: databases

Update test_databases.py (#134)
  missense_kinase_toolkit/databases/mkt/databases/tests/test_databases.py
Due: databases

fit fix tuple Typing; summary uses self.results instead of self.model; fix col_plot if statement; add group after filtering
  missense_kinase_toolkit/databases/mkt/databases/ml.py
Due: databases

final tweaks in PoissonRegressionNoInteraction to recapitulate
  missense_kinase_toolkit/databases/mkt/databases/ml.py
Due: databases

fixed conflict between bool_keep_sig and p_value; no longer allow p_value to be None
  missense_kinase_toolkit/databases/mkt/databases/ml.py
Due: databases

added tests for KinaseInfo.adjudicate_group
  missense_kinase_toolkit/schema/mkt/schema/tests/test_schema.py
Due: schema
