Repository choderalab/missense-kinase-toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: schema, databases

convert Davis y to pKd in micromolar before z-score conversion so higher values denote more potent
  missense_kinase_toolkit/ml/mkt/ml/cli/generate_datasets.py
Due: none

comment out drop na since now do in cli more rigorously
  missense_kinase_toolkit/ml/mkt/ml/datasets/process.py
Due: none

ML (#153)
  missense_kinase_toolkit/ml/mkt/ml/cli/generate_datasets.py
  missense_kinase_toolkit/ml/mkt/ml/datasets/process.py
  missense_kinase_toolkit/ml/pyproject.toml
Due: none

nextflow for boltz
  nextflow/bin/create_yaml.py
  nextflow/main.nf
  nextflow/modules/boltz2/main.nf
  nextflow/nextflow.config
Due: none

Modeling (#152)
  missense_kinase_toolkit/modeling/README.md
  missense_kinase_toolkit/modeling/create_env.sh
  missense_kinase_toolkit/modeling/environment.yml
  missense_kinase_toolkit/modeling/mkt/modeling/__init__.py
  missense_kinase_toolkit/modeling/mkt/modeling/align.py
  missense_kinase_toolkit/modeling/mkt/modeling/io_utils.py
  missense_kinase_toolkit/modeling/pyproject.toml
  nextflow/bin/create_yaml.py
  nextflow/main.nf
  nextflow/modules/boltz2/main.nf
  nextflow/nextflow.config
Due: none

aggregate successful runs into a single csv
  nextflow/modules/utils/main.nf
Due: none

add csv creation to workflow; make BOLTZ_CSV an entry point
  nextflow/main.nf
Due: none

fixed duplication in create_yaml.py
  nextflow/bin/create_yaml.py
Due: none

separate out by row and aggregation processes
  nextflow/modules/utils/main.nf
Due: none

updated for CSV writing process
  nextflow/main.nf
Due: none

Modeling (#154)
  nextflow/bin/create_yaml.py
  nextflow/main.nf
  nextflow/modules/utils/main.nf
Due: none

switched flag from drop to keep
  missense_kinase_toolkit/ml/mkt/ml/cli/generate_datasets.py
Due: none

added flag to output pdb format instead of cif
  nextflow/modules/boltz2/main.nf
Due: none

Modeling (#156)
  nextflow/modules/boltz2/main.nf
Due: none

generate pseudo random uuids
  missense_kinase_toolkit/ml/mkt/ml/utils.py
Due: none

add uuids at the level of the original data processing
  missense_kinase_toolkit/ml/mkt/ml/cli/generate_datasets.py
Due: none

update nf pipeline to reflect uuid added at the level of the data generation
  nextflow/main.nf
Due: none

use random_uuid instead of uuid4
  missense_kinase_toolkit/ml/mkt/ml/cli/generate_datasets.py
Due: none

added attribution
  missense_kinase_toolkit/ml/mkt/ml/utils.py
Due: none

remove unused uuid import
  missense_kinase_toolkit/ml/mkt/ml/cli/generate_datasets.py
Due: none

ML (#155)
  missense_kinase_toolkit/ml/mkt/ml/cli/generate_datasets.py
  missense_kinase_toolkit/ml/mkt/ml/utils.py
  nextflow/main.nf
Due: none

allow cif or pdb output
  nextflow/modules/boltz2/main.nf
Due: none

Modeling (#157)
  nextflow/modules/boltz2/main.nf
Due: none

instantiate transformation functions and layer names at the level of CombinedPoolingModel
  missense_kinase_toolkit/ml/mkt/ml/models/pooling.py
Due: none

KD TODO clarified
  missense_kinase_toolkit/ml/mkt/ml/datasets/process.py
Due: none

clarified comments
  missense_kinase_toolkit/ml/mkt/ml/factory.py
Due: none

added functions to extract sequence from kincore cif and an opinionated method to adjudicate kinase domain sequence (kincore cif > kincore fasta > Pfam > None)
  missense_kinase_toolkit/schema/mkt/schema/kinase_schema.py
Due: schema

corrected Pfam > pfam, if self.kincore.cf is None return None
  missense_kinase_toolkit/schema/mkt/schema/kinase_schema.py
Due: schema

use extract_sequence_from_cif rather than manual
  missense_kinase_toolkit/databases/mkt/databases/kinase_schema.py
Due: databases

added testing for new adjudicate functions
  missense_kinase_toolkit/schema/mkt/schema/tests/test_schema.py
Due: schema

moved get_repo_root to mkt.schema.io_utils
  missense_kinase_toolkit/databases/mkt/databases/cli/extract_cbioportal_missense_kinases.py
Due: databases

moved get_repo_root to mkt.schema.io_utils
  missense_kinase_toolkit/databases/mkt/databases/cli/generate_kinaseinfo_objects.py
Due: databases

moved get_repo_root to mkt.schema.io_utils
  missense_kinase_toolkit/databases/mkt/databases/kinase_schema.py
Due: databases

moved get_repo_root to mkt.schema.io_utils
  missense_kinase_toolkit/databases/mkt/databases/kincore.py
Due: databases

Path conditions:
  schema: any of: missense_kinase_toolkit/schema/mkt/schema, but not: missense_kinase_toolkit/schema/mkt/database/ncbi.py
  databases: any of: missense_kinase_toolkit/databases/mkt/databases, but not: missense_kinase_toolkit/schema/mkt/database/ncbi.py
