Repository choderalab/missense-kinase-toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: schema, databases

.codecov.yml:

# Codecov configuration to make it a bit less noisy
coverage:
  status:
    patch: false
    project:
      default:
        threshold: 50%

flags:
  schema:
    paths:
      - missense_kinase_toolkit/schema/mkt/schema
    # carryforward: true
  databases:
    paths:
      - missense_kinase_toolkit/databases/mkt/databases
    # carryforward: true

comment:
  layout: "header, flags"
  require_changes: false
  branches: null
  behavior: default
  paths: null
  show_carryforward_flags: true

ignore:
      # NCBI currently down
      - missense_kinase_toolkit/schema/mkt/database/ncbi.py

moved get_repo_root to mkt.schema.io_utils
  missense_kinase_toolkit/ml/mkt/ml/cli/generate_datasets.py
Due: none

moved get_repo_root to mkt.schema.io_utils
  missense_kinase_toolkit/ml/mkt/ml/datasets/pkis2.py
Due: none

moved get_repo_root to mkt.schema.io_utils and rgetattr to mkt.schema.utils
  missense_kinase_toolkit/ml/mkt/ml/datasets/process.py
Due: none

moved get_repo_root to mkt.schema.io_utils and removed modeling get_repo_root
  missense_kinase_toolkit/modeling/mkt/modeling/io_utils.py
Due: none

moved get_repo_root to mkt.schema.io_utils
  missense_kinase_toolkit/schema/mkt/schema/io_utils.py
Due: schema

moved get_repo_root to mkt.schema.io_utils
  notebooks/databases.ipynb
  notebooks/pkis2_km_atp.ipynb
Due: none

added git to requirements
  missense_kinase_toolkit/schema/pyproject.toml
Due: none

rgetattr from schema instead of databases
  missense_kinase_toolkit/app/app.py
Due: none

rgetattr from schema instead of databases
  missense_kinase_toolkit/app/generate_alignments.py
Due: none

rgetattr from schema instead of databases
  missense_kinase_toolkit/app/generate_properties.py
Due: none

rgetattr from schema instead of databases
  missense_kinase_toolkit/databases/mkt/databases/kinase_schema.py
Due: databases

removed rgetattr, rsetattr, and try_except_return_none_rgetattr from mkt.databases.utils
  missense_kinase_toolkit/databases/mkt/databases/utils.py
Due: databases

removed rgetattr and random_uuid from mkt.ml.utils
  missense_kinase_toolkit/ml/mkt/ml/utils.py
Due: none

TestSchema.test_utils, changed serialization to serde, altered dictionary import
  missense_kinase_toolkit/schema/mkt/schema/tests/test_schema.py
Due: schema

added mkt.schema.utils
  missense_kinase_toolkit/schema/mkt/schema/utils.py
Due: schema

Schema (#162)
  missense_kinase_toolkit/app/app.py
  missense_kinase_toolkit/app/generate_alignments.py
  missense_kinase_toolkit/app/generate_properties.py
  missense_kinase_toolkit/databases/mkt/databases/cli/extract_cbioportal_missense_kinases.py
  missense_kinase_toolkit/databases/mkt/databases/cli/generate_kinaseinfo_objects.py
  missense_kinase_toolkit/databases/mkt/databases/kinase_schema.py
  missense_kinase_toolkit/databases/mkt/databases/kincore.py
  missense_kinase_toolkit/databases/mkt/databases/utils.py
  missense_kinase_toolkit/ml/mkt/ml/cli/generate_datasets.py
  missense_kinase_toolkit/ml/mkt/ml/datasets/pkis2.py
  missense_kinase_toolkit/ml/mkt/ml/datasets/process.py
  missense_kinase_toolkit/ml/mkt/ml/utils.py
  missense_kinase_toolkit/modeling/mkt/modeling/io_utils.py
  missense_kinase_toolkit/schema/mkt/schema/io_utils.py
  missense_kinase_toolkit/schema/mkt/schema/kinase_schema.py
  missense_kinase_toolkit/schema/mkt/schema/tests/test_schema.py
  missense_kinase_toolkit/schema/mkt/schema/utils.py
  missense_kinase_toolkit/schema/pyproject.toml
  notebooks/databases.ipynb
  notebooks/pkis2_km_atp.ipynb
Due: schema, databases

moved gitpython out of mkt.databases and into mkt.schema
  missense_kinase_toolkit/databases/pyproject.toml
  missense_kinase_toolkit/schema/pyproject.toml
Due: none

Schema (#163)
  missense_kinase_toolkit/databases/pyproject.toml
  missense_kinase_toolkit/schema/pyproject.toml
Due: none

move the no KinCore objects error to the beginning; try to specify full width of KinCore active structure
  missense_kinase_toolkit/app/app.py
Due: none

App (#164)
  missense_kinase_toolkit/app/app.py
Due: none

pinning the package versions that are working locally
  missense_kinase_toolkit/app/requirements.txt
Due: none

App (#165)
  missense_kinase_toolkit/app/requirements.txt
Due: none

fixed bug by sorting list_intersect in _generate_highlight_idx before using
  missense_kinase_toolkit/app/generate_structures.py
Due: none

App (#166)
  missense_kinase_toolkit/app/generate_structures.py
Due: none

use adjudicate_kd_sequence to annotate
  missense_kinase_toolkit/ml/mkt/ml/datasets/process.py
Due: none

change PKIS to % inhibition; add KD column algorithm using adjudicate KD sequence
  missense_kinase_toolkit/ml/mkt/ml/datasets/process.py
Due: none

import rgetattr from mkt.schema instead of mkt.databases
  missense_kinase_toolkit/ml/mkt/ml/models/base_model.py
Due: none

simplified adjudicate_group for readability
  missense_kinase_toolkit/schema/mkt/schema/kinase_schema.py
Due: schema

KinaseKDSequenceSource TODO
  missense_kinase_toolkit/ml/mkt/ml/constants.py
Due: none

ML (#161)
  missense_kinase_toolkit/ml/mkt/ml/constants.py
  missense_kinase_toolkit/ml/mkt/ml/datasets/process.py
  missense_kinase_toolkit/ml/mkt/ml/factory.py
  missense_kinase_toolkit/ml/mkt/ml/models/base_model.py
  missense_kinase_toolkit/ml/mkt/ml/models/pooling.py
  missense_kinase_toolkit/schema/mkt/schema/kinase_schema.py
Due: schema

remove Linux package references from env for Mac compatibility; added ipython, jupyter, and mol2grid to requirements
  missense_kinase_toolkit/modeling/environment.yml
Due: none
